// Global default params, used in configs
params {
  SAMPLEFILE= ""
  genotype = true
  project_tag = ""
  refseq = true
  refseq_path = "/nfs/cellgeni/STAR/human/2020A/GRCh38_v32_modified.fa"
}

profiles {
    rna {
        params {
            minMAF = 0
            minCOUNT = 1
            UMItag = 'UB'
            cellTAG = 'CB'
        }
    }
    atac {
        params {
            minMAF = 0
            minCOUNT = 1
            UMItag = 'None'
            cellTAG = 'CB'
        }
    }
}

// Configuring LSF job submission parameters for each process
executor {
  name = 'lsf'
  perJobMemLimit = true
}

singularity {
  enabled     = true
  autoMounts  = true
  cacheDir = '/nfs/cellgeni/singularity/images/'
  runOptions = '-B /lustre,/nfs --nv'
}

process {
  
  container = '/nfs/cellgeni/singularity/images/cellsnplite-v1.2.3.sif'

  errorStrategy = 'retry'
  maxRetries    = 5

  withName: MODE_2B {
    cpus = 10
    memory = { 32.GB * task.attempt }
    queue = "long"
  }

  withName: MODE_1A {
    cpus = 10
    memory = { 32.GB * task.attempt }
    queue = "long"
  }

  withName: MODE_2A {
    cpus = 10
    memory = { 64.GB * task.attempt }
    queue = "week"
  }

}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Capturing Nextflow log files into a reports directory
timeline {
   enabled = true
   overwrite = true
   file = "cellsnplite-reports-${params.project_tag}/timeline.html"
}

report {
   enabled = true
   overwrite = true
   file = "cellsnplite-reports-${params.project_tag}/report.html"
}

trace {
   enabled = true
   overwrite = true
   file = "cellsnplite-reports-${params.project_tag}/trace.txt"
}

workDir = "nf-work"